<h1>Deletar fotos</h1>
<hr style="border-top: 1px solid #ccc">

<%= form_tag destroy_multiple_photos_path, method: :delete do %>
  <% @photos.each do |photo| %>

    <div class="col-3" style="display: inline-block;">
      <div class="card text-white bg-dark m-3">
        <%= label_tag do %>
          <%= image_tag(photo.picture, {class: "card-img-top"}) %>
          <%= check_box_tag "photos[]", photo.id, false, style: "width: 20px; height: 20px;position:absolute; left:15px; top: 10px" %>
          <div class="card-body">
              <p class="card-text"><%= photo.title %></p>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
    <br>
  <%= submit_tag "Deletar selecionados", class: "btn btn-danger", style:"float-right", data:{confirm: "Tem certeza?"} %>
<% end %>