<!DOCTYPE html>
<html>
  <head>
    <title>Nick</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.css">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container text-light">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.js"></script>
</html>
